In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df=pd.read_csv('Leads.csv')
df.sample(5)

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
2831,a6c07ece-8a57-4246-87fa-ee92adff6e0b,632524,Landing Page Submission,Direct Traffic,No,No,0,4.0,365,4.00,...,No,NaN,Mumbai,NaN,NaN,NaN,NaN,No,Yes,Email Opened
7635,22b1f1dc-97ad-4477-b123-579e9194a128,591219,Landing Page Submission,Direct Traffic,Yes,No,0,1.0,345,1.00,...,No,Student of SomeSchool,Thane & Outskirts,02.Medium,02.Medium,15.0,14.0,No,Yes,Modified
2335,9306f838-b4f0-4689-8151-9b069dfe1b6d,637183,Landing Page Submission,Direct Traffic,No,No,0,5.0,155,5.00,...,No,Select,Mumbai,02.Medium,01.High,14.0,18.0,No,No,Modified
8684,15c1191e-09a1-49b3-b3e5-d9207e7502fc,583534,API,Google,No,No,1,23.0,1341,2.09,...,No,NaN,NaN,01.High,02.Medium,16.0,15.0,No,No,Modified
3106,a6a680c4-b8c4-40bd-98bb-9c186e334f8e,630083,API,Olark Chat,No,No,0,0.0,0,0.00,...,No,NaN,NaN,NaN,NaN,NaN,NaN,No,No,Olark Chat Conversation

In [34]:
df.shape

(9240, 37)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [36]:
df.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Asymmetrique Activity Score,Asymmetrique Profile Score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

In [37]:
((df.isnull().sum()/len(df))*100).sort_values(ascending=False)

Lead Quality                                     51.590909
Asymmetrique Activity Index                      45.649351
Asymmetrique Profile Score                       45.649351
Asymmetrique Activity Score                      45.649351
Asymmetrique Profile Index                       45.649351
Tags                                             36.287879
Lead Profile                                     29.318182
What matters most to you in choosing a course    29.318182
What is your current occupation                  29.112554
Country                                          26.634199
How did you hear about X Education               23.885281
Specialization                                   15.562771
City                                             15.367965
Page Views Per Visit                              1.482684
TotalVisits                                       1.482684
Last Activity                                     1.114719
Lead Source                                       0.389610
Receive More Updates About Our Courses            0.000000
I agree to pay the amount through cheque          0.000000
Get updates on DM Content                         0.000000
Update me on Supply Chain Content                 0.000000
A free copy of Mastering The Interview            0.000000
Prospect ID                                       0.000000
Newspaper Article                                 0.000000
Through Recommendations                           0.000000
Digital Advertisement                             0.000000
Newspaper                                         0.000000
X Education Forums                                0.000000
Lead Number                                       0.000000
Magazine                                          0.000000
Search                                            0.000000
Total Time Spent on Website                       0.000000
Converted                                         0.000000
Do Not Call                                       0.000000
Do Not Email                                      0.000000
Lead Origin                                       0.000000
Last Notable Activity                             0.000000
dtype: float64

In [38]:
df=df.drop(columns=['Prospect ID','Lead Number','Lead Source','Asymmetrique Profile Score','Lead Quality',
               'Asymmetrique Activity Index','Asymmetrique Profile Score','Asymmetrique Activity Score',
               'Asymmetrique Profile Index','Tags','What is your current occupation','City'])

In [39]:
df.shape

(9240, 26)

In [40]:
df = df.applymap(lambda x: 1 if x == 'Yes' else 0 if x == 'No' else x)

C:\Users\sai\AppData\Local\Temp\ipykernel_15096\3876630994.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: 1 if x == 'Yes' else 0 if x == 'No' else x)

In [41]:
df

,Lead Origin,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,...,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,API,0,0,0,0.0,0,0.00,Page Visited on Website,NaN,Select,...,0,0,0,0,0,0,Select,0,0,Modified
1,API,0,0,0,5.0,674,2.50,Email Opened,India,Select,...,0,0,0,0,0,0,Select,0,0,Email Opened
2,Landing Page Submission,0,0,1,2.0,1532,2.00,Email Opened,India,Business Administration,...,0,0,0,0,0,0,Potential Lead,0,1,Email Opened
3,Landing Page Submission,0,0,0,1.0,305,1.00,Unreachable,India,Media and Advertising,...,0,0,0,0,0,0,Select,0,0,Modified
4,Landing Page Submission,0,0,1,2.0,1428,1.00,Converted to Lead,India,Select,...,0,0,0,0,0,0,Select,0,0,Modified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,Landing Page Submission,1,0,1,8.0,1845,2.67,Email Marked Spam,Saudi Arabia,IT Projects Management,...,0,0,0,0,0,0,Potential Lead,0,0,Email Marked Spam
9236,Landing Page Submission,0,0,0,2.0,238,2.00,SMS Sent,India,Media and Advertising,...,0,0,0,0,0,0,Potential Lead,0,1,SMS Sent
9237,Landing Page Submission,1,0,0,2.0,199,2.00,SMS Sent,India,Business Administration,...,0,0,0,0,0,0,Potential Lead,0,1,SMS Sent
9238,Landing Page Submission,0,0,1,3.0,499,3.00,SMS Sent,India,Human Resource Management,...,0,0,0,0,0,0,NaN,0,0,SMS Sent
9239,Landing Page Submission,0,0,1,6.0,1279,3.00,SMS Sent,Bangladesh,Supply Chain Management,...,0,0,0,0,0,0,Potential Lead,0,1,Modified

In [42]:
((df.isnull().sum()/len(df))*100).sort_values(ascending=False)

Lead Profile                                     29.318182
What matters most to you in choosing a course    29.318182
Country                                          26.634199
How did you hear about X Education               23.885281
Specialization                                   15.562771
TotalVisits                                       1.482684
Page Views Per Visit                              1.482684
Last Activity                                     1.114719
Lead Origin                                       0.000000
Digital Advertisement                             0.000000
A free copy of Mastering The Interview            0.000000
I agree to pay the amount through cheque          0.000000
Get updates on DM Content                         0.000000
Update me on Supply Chain Content                 0.000000
Receive More Updates About Our Courses            0.000000
Through Recommendations                           0.000000
Magazine                                          0.000000
Newspaper                                         0.000000
X Education Forums                                0.000000
Newspaper Article                                 0.000000
Do Not Email                                      0.000000
Search                                            0.000000
Total Time Spent on Website                       0.000000
Converted                                         0.000000
Do Not Call                                       0.000000
Last Notable Activity                             0.000000
dtype: float64

In [43]:
df_object = df.select_dtypes(include=['object'])
df_object

,Lead Origin,Last Activity,Country,Specialization,How did you hear about X Education,What matters most to you in choosing a course,Lead Profile,Last Notable Activity
0,API,Page Visited on Website,NaN,Select,Select,Better Career Prospects,Select,Modified
1,API,Email Opened,India,Select,Select,Better Career Prospects,Select,Email Opened
2,Landing Page Submission,Email Opened,India,Business Administration,Select,Better Career Prospects,Potential Lead,Email Opened
3,Landing Page Submission,Unreachable,India,Media and Advertising,Word Of Mouth,Better Career Prospects,Select,Modified
4,Landing Page Submission,Converted to Lead,India,Select,Other,Better Career Prospects,Select,Modified
...,...,...,...,...,...,...,...,...
9235,Landing Page Submission,Email Marked Spam,Saudi Arabia,IT Projects Management,Select,Better Career Prospects,Potential Lead,Email Marked Spam
9236,Landing Page Submission,SMS Sent,India,Media and Advertising,Select,Better Career Prospects,Potential Lead,SMS Sent
9237,Landing Page Submission,SMS Sent,India,Business Administration,Select,Better Career Prospects,Potential Lead,SMS Sent
9238,Landing Page Submission,SMS Sent,India,Human Resource Management,Online Search,NaN,NaN,SMS Sent
9239,Landing Page Submission,SMS Sent,Bangladesh,Supply Chain Management,Select,Better Career Prospects,Potential Lead,Modified

In [44]:
df_object.shape

(9240, 8)

In [48]:
df['Lead Profile'] = df['Lead Profile'].replace('Select', 'NaN')
df['Specialization'] = df['Specialization'].replace('Select', 'NaN')
df['How did you hear about X Education'] = df['How did you hear about X Education'].replace('Select', 'NaN')

In [49]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='most_frequent')
new_df=si.fit_transform(df_object)